.statuses_wrapper {
    height: 110px;
    margin-top: 30px;
    position: relative;
    border: 1px solid #695c5c;
    border-radius: 10px;
    overflow: hidden;
    background: #000;
}
.statuses {
    width: 500px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    transition: 0.4s ease-in-out;
}

.status {
    display: flex;
    flex-direction: column;
    padding: 10px 8px 10px 10px;
    cursor: pointer;
}

.status_name {
    width: 65px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: linear-gradient(to right, red, purple);
}

.status_image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translateY(-1%);
}

.left_caret {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 10px;
    cursor: pointer;
}

.right_caret {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}
